@import url('https://fonts.googleapis.com/css2?family=Mukta+Malar:wght@200;300;400;500;600;700;800&display=swap');

* {
    font-family: 'Mukta Malar', sans-serif;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgba(246, 246, 246, 255);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
    --box-shadow: rgba(0,0,0,.1);
    --background-color: rgba(246, 246, 246, 255);
    --text-color: rgba(70, 70, 70, 255);
}

.nav-container {
    width: 100%;
    position: fixed;
    height: 65px;
    margin-left: 0px;
    box-shadow: 0px 4px 4px var(--box-shadow);
    z-index: 1000;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-container-2 {
    width: 95%;
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-title {
    font-size: large;
    font-weight: 800;
    color: var(--text-color);
    word-spacing: -1px;
    letter-spacing: -.5px;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 15px;
    flex-wrap: nowrap;
    cursor: pointer;
}

.nav-english {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    column-gap: 15px;
    color: var(--text-color);
    font-size: large;
    font-weight: 800;
    cursor: auto;
}

.skills, .center-container-item {
    color: var(--text-color);
    font-size: large;
    font-weight: 800;
    cursor: pointer;
    transition: .7s ease;
}

.skills, .center-container-item:hover {
    transform: scale(1.02);
}

.center-container {
    position: fixed;
    right: 50%;
    transform: translate(50%);
    display: flex;
    flex-wrap: nowrap;
    column-gap: 60px;
    justify-content: center;
    align-items: center;
}

.nav-logo {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.nav-logo-container {
    width: 30px;
    height: 30px;
    overflow: hidden;
    padding-bottom: 5px;
}

.land-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.land-container-2 {
    width: 85%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    row-gap: 100px;
}

.land-container-3 {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    column-gap: 60px;
}

.tech-stack-container-half {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.tech-stack-container {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 14.4px;
    row-gap: 10px;
    flex-wrap: wrap;
}

.tech-stack-container-2 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
    width: 100px;
}

.land-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.land-image-container {
    overflow: hidden;
    width: 200px;
    height: 200px;
    border-radius: 100px;
}

.land-container-4 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.socials-container {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 15px;
    flex-wrap: nowrap;
}

.spacer {
    height: 150px;
    width: 100%;
}

.land-header {
    font-weight: 800;
    font-size: 60px;
    color: var(--text-color);
    word-spacing: 3px;
    letter-spacing: -3px;
}

.land-text {
    width: 450px;
    color: var(--text-color);
    font-size: large;
    margin-bottom: 30px;
    padding-top: 20px;
}

.skills {
    cursor: auto;
}

.html {
    color: #f97306
}

.svg {
    width: 45px;
    height: 45px;
}

.svg-img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.container-svg {
    width: 45px;
    height: 45px;
    overflow: hidden;
}

.back {
    position: absolute;
    width: 30px;
    height: 30px;
    bottom: 10%;
    left: 10%;
    background-color: black;
    z-index: -1;
}

.container-svg-2 {
    width: 45px;
    height: 35px;
    overflow: hidden;
}
.projects-text-container {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.projects-text-container-2 {
    width: 85%;
    height: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 35px;
    font-weight: 700;
    color: var(--text-color);
    letter-spacing: -1px;
}

.spacer-2 {
    width: 100%;
    height: 60px;
}

.projects-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.projects-container-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    row-gap: 60px;
    flex-wrap: nowrap;
    flex-direction: column;
    width: 85%;
    
}

.project-container-3 {
    border: 2px solid rgba(0,0,0,.1);
    box-shadow: 0px 0px 5px rgba(0,0,0,.1);
    width: 100%;
    height: 300px;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    row-gap: 40px;
    column-gap: 40px;
    columns: 30px;
}

.spacer-3 {
    width: 100%;
    height: 20px;
}

.project-image-container {
    height: 80%;
    width: 41.5%;
    box-shadow: 0px 0px 10px rgba(0,0,0,.1);
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
}

.project-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.project-info-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
    width: 50%;
    height: 80%;
}

.title-button-3, .title-button-2, .title-button {
    font-size: large;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    height: 50px;
    background-color: rgba(216, 20, 20, 255);
    font-weight: 800;
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    letter-spacing: -.4px;
    transition: .7s ease;
    cursor: pointer;
}

.title-button-2 {
    background-color: rgba(6, 111, 109, 255);
}

.title-button-3 {
    background-color: rgba(235, 153, 28, 255);
}

.title-button-3:hover, .title-button-2:hover, .title-button:hover {
    transform: scale(1.02);
    box-shadow: 0px 2px 5px rgba(0,0,0,.2);
}

.product-text {
    color: var(--text-color);
    font-size: large;
}

.about-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.about-text {
    width: 85%;
    color: var(--text-color);
    font-size: large;
    padding-bottom: 70px;
    line-height: 40px;
}

.bottom-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
    row-gap: 15px;
    flex-direction: column;
}

.bottom-header {
    font-size: 35px;
    font-weight: 700;
    color: var(--text-color);
    letter-spacing: -1px;
    display: flex;
    justify-content: center;
    column-gap: 10px;
    align-items: center;
}

.final-text {
    margin-top: 20px;
    margin-bottom: 10px;
}

.final-button {
    cursor: pointer;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(46,46,46);
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: -.5px;
    transition: .7s ease;
}

.final-button:hover {
    transform: scale(1.02);
    box-shadow: 0px 2px 10px rgba(0,0,0,.3);
}

.bottom-image-container {
    width: 60px;
    height: 60px;
    overflow: hidden;
    padding-bottom: 15px;
}

.bottom-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}